.searchInput {
    padding: 10px;
    width: 90%;
    max-width: 400px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.mapContainer {
    position: relative;
    width: 100%;
    height: 500px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
