.trafficDataContainer {
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.calendarIconWrapper {
    position: relative;
    cursor: pointer;
}

.calendarPopover {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
}

.chartContainer {
    height: 400px; /* Adjust based on your preference */
}
